# editor directories and file
*.bak
*.org
*~
*.sw?
.idea/

# Development files
tags*
tmp/
llm/
.perl-version
*.tdy
.build/
cover_db/

# Droppings
.DS_Store
*.tgz
*.tar.gz
*.pyo
*.pyc

# Local
.config/karabiner/automatic_backups
.vim/spell/
zsh/functions/_docker
zsh/functions/_docker-compose
zsh/functions/_docker-machine
zsh/functions/_git

!.aider.conf.yml
