*.org
*.bak
*~
*.pyo
*.pyc
tags
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/vim/yankround/history
.notion/default-session--0/cfg_statusd.lua
.notion/default-session--0/saved_layout.lua
.notion/default-session--0/saved_queryhist.lua
.notion/default-session--0/saved_wd.lua
.vim/bundle/
.vim/plugged/
.vim/.netrwhist
.vim/yankring_history_v2.txt
.vim/autoload/plug.vim*
.vim/spell/
.vim/shada/
