*.org
*.bak
*~
*.tgz
*.tar.gz
*.pyo
*.pyc
tags*
tmp/
.config/gtk-3.0/bookmarks
.config/i3/config
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/sxhkd/sxhkdrc
.config/vim/yankround/history
.vim/autoload/plug.vim*
.vim/bundle/
.vim/.miniyank.mpack
.vim/.netrwhist
.vim/plugged/
.vim/shada/
.vim/spell/
zsh/functions/_docker
zsh/functions/_docker-compose
zsh/functions/_docker-machine
